# Core functionality - changes here should be rare!
/src/app.py                   @Hellkryptonium
/src/backend/database.py      @Hellkryptonium
/src/backend/routers/auth.py  @Hellkryptonium

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Hellkryptonium
